.cards{
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    width: 260px;
    height: 220px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin: 90px 20px; */
    margin: 10px;
    border-radius: 15px;
    box-sizing: border-box;

}


.cards img{
    margin-top: 15px;
    width: 100%;
}

.desc {
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    color: black;
}


.cards .delbtn{
    width: 20px;
    margin-top: 20px;
}

.delbtn{
    margin-left: 180px;
    cursor: pointer;
  
    
}


@media (max-width: 480px) {

.cards{
    align-items: center;
    padding-bottom: 30px;
    width: 100px;
    height: 135px;
    color: black;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 90px 0px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 15px;

}

.desc p {
    font-size: 9px;
    color: black;
}


.delbtn{
    margin-left: 100px;
    cursor: pointer;
  
    
}


}