
.cards{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: white;
    border: 3px solid rgb(211, 85, 39);
    width: 200px;
    margin: 40px 10px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgb(238, 143, 108)

}

.cards img{
    width: 100px;
    height: 100px;
}

.cards p{
    font-weight: bold;
}

