.container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 70px;
}

.left a {
    margin-top: 60px;
    position: absolute;
    right: 90px;
}

.left a {       
    cursor: pointer;
    padding: 12px 30px ;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(211, 85, 39);
    box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    color: white;
}


.detail input, .detail select {
    font-size: 15px;
    width: 400px;
    height: 40px;
    border-radius: 7px;
    border: 1px solid rgb(211, 85, 39);
    padding: 10px;
}

.detail input{
    font-size: 12px;
}

.password {
    display: flex;
    justify-content: space-between;
    
}

.password span{
    margin-top: 5px;
    /* background-color:rgb(100, 149, 237); */
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 40px; 
    position:absolute;
    right: 425px;
    
}

/* .detail a{
    font-size: 15px;
    cursor: pointer;
    /* background-color: rgb(211, 85, 39); */
    /* box-shadow: 0 1px 4px 0 rgb(211, 85, 39); */
    /* color:white;
    font-family: Karla;
    height: 38px;
    width: 48%;
}  */

.detail .btn {
    margin-top: 30px;
    justify-content: space-between;
    /* width: 125%; */
    /* display: flex; */
    text-align: center;
    color: white;
    margin-right: 5px;
  
    
}

/* .btn {
    margin-left: 5px;
} */

.btn button{
    /* margin: 0px 15px 20px 10px; */
    /* width: 100px; */
    height: 35px;
    border-radius: 7px;
    border: 1px solid rgb(211, 85, 39);
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    margin: 0px 0px 0px 20px;
}


.btn .batal{
    background-color:  rgb(175, 27, 17);
    box-shadow: 0 1px 4px 0 rgb(175, 27, 17);
    border: 1px solid  rgb(175, 27, 17);
    color: white;
    /* margin-right: 100px; */
    width: 150px;
    /* margin-left: 40px; */
}



.btn .simpan{
    background-color: rgb(211, 85, 39); 
    box-shadow: 0 1px 4px 0 rgb(211, 85, 39);
    border: 1px solid   rgb(211, 85, 39); 
    color: white;
    width: 150px;
}


.detail .batal:hover{
    background-color:  rgb(246, 247, 184);
    color:  rgb(211, 85, 39);
    transition: 0.2s;
}

.detail .simpan:hover{
    background-color:  rgb(246, 247, 184);
    color:  rgb(211, 85, 39);
    transition: 0.2s;
}

.detail p{
    font-weight: bold;
}

.detail span{
    color: red;
}


.title p{
    margin-left: 80px;
    font-size: 30px;
    font-family: Fredoka One;
    font-weight: 400;
    line-height: 0;
}


.title {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    
}