.header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
  
    margin-left: 250px;
    margin-right: 300px;
}

.pagecontainer{
    background-color: white;
    color: black;
    
}

.cards{
    align-items: center;
    text-align: center;
    padding: 10px 0px;
    width: 350px;
    height: 190px;
    border: 0px solid rgb(194, 150, 7);
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px 5px 30px 30px;
    border-radius: 5px;
    box-sizing: border-box;


}

.cards img{
    margin-top: 40px;
    width: 70px;
}

.desc {
    /* padding: 15px;*/
    /* margin-top: 20px; */
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}


@media (max-width: 480px) {

    .header{
        display: grid;
        justify-content: center;
        row-gap: 10px;
        /* margin-bottom: 40px; */
        
    }


   


    .cards{
        align-items: center;
        text-align: center;
        /* padding: 10px 0px; */
        width: 150px;
        height: 150px;
        border: 0px solid rgb(194, 150, 7);
        box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* margin: 0px 0px 20px 30px; */
        border-radius: 5px;
        box-sizing: border-box;
    
    
    }
    
    .cards img{
        margin-top: 30px;
        width: 35px;
    }

    .desc {
        /* padding: 15px;*/
        /* margin-top: 20px; */
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }


    

}