
.header {
  width: 100%;
  background-image: url('/header_background.png');
  padding : 10px 0 350px 0;
  height: 530px;
}
 /* background-color: #FCFFA6; */


.header h1{
  margin-top: 15px;
  margin-bottom: 80px;
  text-align: center;
  font-size: 33px;
  color:  rgb(211, 85, 39);
  font-family: Fredoka One;
}

/* .link .logo{
  border-radius: 10px;
} */

.header .fitur {
    display: flex;
    justify-content: center;
   
}

.header .fitur div {
  width: 250px;
  text-align: center;
  background-color: white;
  /* margin: 0 50px; */
  margin: 0 20px;
  padding: 10px 0px;
  border-radius: 20px;
  border: 4px solid rgb(247, 203, 58);
  box-shadow: 0 2px 4px 0 rgb(238, 143, 108);
}

.header .fitur p {
  padding: 0 10px;
  font-size: 15px;
  margin-left: 8px;
  color: black;
  margin-right: 8px;
  font-family: Fredoka One;
  text-align: justify;

}

.header .fitur span {
  color: brown;
}

.header .fitur img{
  width: 145px;
  height: 145px;
}




/* .search {
  text-align: center;
  margin: 30px 10px;

} */

.main{
  padding: 20px 0px 0px 0px;
  text-align: center;
  justify-content: center;
  background-color: white;
  /* display: inline-block; */ 
  /* margin-bottom: 30px;
  */
}


.main h1{
  text-align: center;
  color: black;
  font-size: 30px;
}

.mainsearch{
  margin-top: 40px;
  
}


.mainsearch input {
  font-size: 15px;
  width: 30%;
  height: 45px;
  text-align: left;
  border-radius: 15px;
  border: 1px solid rgb(194, 150, 7);
  padding: 20px;
  margin: 10px 10px;
  background-color: white;
 
  box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}

.searchnotfound p{
  margin-top: 50px;
  margin-right: 280px;
  /* margin-right: 370px; */
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.searchnotfound img{
  /* margin-left: 300px;
  margin-top: 20px;
  border-radius: 120px; */
  opacity: 0.7;
  margin-bottom: 20px;
  border-radius: 120px;
  margin-left: 390px;
  /* box-shadow: 0 1px 2px 0 rgba(151, 141, 137, 0.169), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  */
}


.mainsearch button{
  font-family: Karla;
  font-size: 15px;
  width: 60px;
  height: 45px;
  border-radius: 15px;
  background-color: rgb(211, 85, 39);
  color: white;
  border: 1px solid rgb(211, 85, 39);
  cursor: pointer;
  margin: 0px 10px;
  box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mainsearch select {
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  width: 15%;
  height: 45px;
  background-color: white;
  color: black;
  border-radius: 15px;
  border: 1px solid rgb(194, 150, 7);
  box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 10px 0px 0px;
}


.mainsearch input{
  color: black;
}

.dropdown option{
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
}

.hide {
  display: none;
}

.show {
  display: block;  
}

.container .container2{
  /* background-color: aquamarine; */
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 30px;
  column-gap: 30px;
  border-radius: 10px;
  /* background-color: antiquewhite; */
  padding-bottom: 30px;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 20px;
  
}


.bgOrange{
  background-color: rgb(211, 85, 39);
  color:white;
  font-style: Karla;
  font-size: 15px;
}

.bgNone{
  background-color: none;
  
}


/*===========*/

@media (max-width: 480px) {

.header .fitur{
 

  margin-left: 5px;

  
}

.header .fitur div {
    width: 170px;
    text-align: center;
    background-color: white;
    margin: 0 5px 20px 10px;
    padding: 10px 0px;
    border-radius: 20px;
    border: 4px solid rgb(247, 203, 58);
    box-shadow: 0 2px 4px 0 rgb(238, 143, 108);
  }

.fitur .buatrumus {
  position: absolute;
  margin-left: 160px;
  top: 395px;
  background-color: black;
}

  .header h1{
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 30px;
    color:  rgb(211, 85, 39);
    font-family: Fredoka One;
  }
  
.header .fitur p {
    padding: 0 10px;
    font-size: 10px;
    margin-left: 8px;
    color: black;
    margin-right: 8px;
    font-family: Fredoka One;
    text-align: justify;
  
  }



.header .fitur span {
    color: brown;
  }
  
.header .fitur img{
    width: calc(145px / 2);
    height: calc(145px / 2);
 }
  
  /* .search {
    text-align: center;
    margin: 30px 10px;
  
  } */
  
  .main{
    padding: 20px 0px 0px 0px;
    text-align: center;
    justify-content: center;
    background-color: white;
    
    /* display: inline-block; */ 
    /* margin-bottom: 30px;
    */
  }
  
  
  .main h1{
    text-align: center;
    color: black;
    font-size: 25px;
    margin-left: 30px;
    
  }
  
  .mainsearch{
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 30px;
  }
  
  
  .mainsearch input {
    font-size: 15px;
    width: 35%;
    height: 40px;
    text-align: left;
    font-size: 12px;
    border-radius: 15px;
    border: 1px solid rgb(194, 150, 7);
    padding: 20px;
    margin: 10px 10px;
    background-color: white;
   
    box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
  }

  .searchnotfound {
    max-width: 80%;
  }
  
  .searchnotfound p{
    width: 200px;
    margin-top: 50px;
    font-size: 15px;
    font-weight: bold;
    color: black;
  }
  
  .searchnotfound img{
    opacity: 0.7;
    width: 50%;
    margin-bottom: 20px;
    border-radius: 120px;
    margin-left: 90px;
  }
  
  
  .mainsearch button{
    font-family: Karla;
    font-size: 10px;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    background-color: rgb(211, 85, 39);
    color: white;
    border: 1px solid rgb(211, 85, 39);
    cursor: pointer;
    margin: 0px 0px;
    box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .mainsearch select {
    display: inline-block;
    font-size: 9px;
    padding: 8px;
    width: 20%;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid rgb(194, 150, 7);
    box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px 10px 0px 0px;
  }
  
  
  .mainsearch input{
    color: black;
  }
  
  .dropdown option{
    border-radius: 10px;
    font-size: 14px;
    padding: 10px;
  }
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;  
  }
  
  .container .container2{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 10px;
    column-gap: 10px;
    border-radius: 10px;
    /* background-color: antiquewhite; */
    padding-bottom: 10px;
    margin-left: 50px;
    margin-right: 15px;
    /* background-color: aqua; */
    margin-top: 15px;
  }  

  
  .bgOrange{
    background-color: rgb(211, 85, 39);
    color:white;
    font-style: Karla;
    font-size: 15px;
  }
  
  .bgNone{
    background-color: none;
    
  }
  
  
  }
  
  
  