
.container {
    background-color: #FFC23C;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    /* position: fixed; */
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* box-shadow: 0 1px 4px 2px #FFC23C; */
   
}

.container .left, .container .right, .container .NavLog{
    display: flex;
    align-items: center;
    color: white;
    /* box-shadow: 0 1px 4px 2px #FFC23C; */
 
}

.container .left, .container .NavLog{
    color: rgb(211, 85, 39);
    font-weight: 800;
    font-size: 20px;
}

.container .left{
    margin-left: 50px;
}


.container .left img , .container .NavLog img{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 40px;
    /* margin-left: 50px; */
}

.container .NavLog p{
    font-size: 10px;
}


.container .right a {
    /* margin-left: 0px; */
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(211, 85, 39);
    /* box-shadow: 0 1px 2px 3px rgba(211, 85, 39, 0.709); */
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    cursor: pointer;
}

.container .right a:hover{
    background-color: #fcffa694;
    color: brown;
}


.nav {
    position :fixed;
    background-color:  rgb(211, 85, 39);
    display: flex;
    /* justify-content: left; */
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    cursor: pointer;
    /* padding: 15px; */
    /* width: 170px; */
}

.nav img {
    width: 25px;
    height: 25px;
    border-radius: none;
    cursor: pointer;
    margin: 5px 0px ;
    /* margin-left: ; */
    /* filter: hue-rotate(0.5turn); */
    
}

/* .list img{

}

.nav .list{
    margin: 0 auto;
} */

.nav a{
    display: flex;
    padding: 5px 15px;
    align-items: center;
    /* margin: 1px auto; */
}

.nav link{
    display: flex;
    padding: 5px 15px;
    align-items: center;
}
/* .nav .list{
    display: flex;
    justify-content: center;
} */


.nav p{
    font-size: 15px;
    margin-left: 10px;
    color: white;
}

.nav a:hover{
    background-color: #fcffa67a;
    color: black;
    /* width: 50px; */
    /* text-align: center; */
    /* border-radius: 10px; */
}

.nav p:hover{
    color: black;
    /* width: 50px; */
    /* text-align: center; */
    /* border-radius: 10px; */
}

.nav .list{
    display: flex;
    align-items: left;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
  
}

.nav .admin{
    width: 30px;
    height: 30px;
}

.nav .acc{
    margin-bottom: 10px;
}

.nav .user{
    margin-top: 10px;
}

.nav hr{
    width: 100%;
    margin: 20px auto;
   
}



.hide{
    display: none;
}


.show{
    display: inherit;
}
/* .btnDaftar {
    background-color: rgb(211, 85, 39);
}

.btnMasuk {
    background-color: coral;
} */



@media (max-width: 480px) {
.container {
        background-color: #FFC23C;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px;
        /* position: fixed; */
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /* box-shadow: 0 1px 4px 2px #FFC23C; */
       
    }
    
.container .left, .container .right, .container .NavLog{
    display: flex;
    /* align-items: center; */
    color: white;
        /* box-shadow: 0 1px 4px 2px #FFC23C; */
     
}
    
.container .left{
        color: rgb(211, 85, 39);
        font-weight: 800;
        font-size: 10px;
        margin-left: 50px;
}


.container .NavLog{
    color: rgb(211, 85, 39);
    font-weight: 800;
    font-size: 12px;
    

}

.container .NavLog img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 15px;
}

.container .right a {
    /* margin-left: 0px; */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    background-color: rgb(211, 85, 39);
    /* box-shadow: 0 1px 2px 3px rgba(211, 85, 39, 0.709); */
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    cursor: pointer;
    margin: 2px;
}

.container div img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    /* border-radius: 40px; */
    /* margin-left: 50px; */
    
}

.container .right a:hover{
        background-color: #fcffa694;
        color: brown;
}
    
    
.nav {
        position :fixed;
        background-color:  rgb(211, 85, 39);
        display: flex;
        /* justify-content: left; */
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;
        border-radius: none;
        /* padding: 15px; */
        /* width: 170px; */
    }
    
.nav img {
        width: 20px;
        height: 20px;
        border-radius: none;
        cursor: pointer;
        margin: 2px 2px;
        /* margin-left: ; */
        /* filter: hue-rotate(0.5turn); */
        
}


    
       
.nav a{
    display: flex;
    padding: 5px 9px;
    align-items: center;
        /* margin: 1px auto; */
}

    
.nav link{
    display: flex;
    padding: 5px 10px;
    align-items: center;
}
    /* .nav .list{
        display: flex;
        justify-content: center;
    } */
        
.nav p{
    font-size: 13px;
    margin-left: 10px;
    color: white;
}
    
.nav a:hover{
    background-color: #fcffa67a;
    color: black;
        /* width: 50px; */
        /* text-align: center; */
        /* border-radius: 10px; */
}
    
.nav p:hover{
    color: black;
        /* width: 50px; */
        /* text-align: center; */
        /* border-radius: 10px; */
    }
    
.nav .list{
    display: flex;
    align-items: left;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: none;
}
    
    .nav .admin{
        width: 28px;
        height: 28px;
    }
    
    .nav .acc{
        margin-bottom: 5px;
    }
    
    .nav .user{
        margin-top: 10px;
    }
    
    .nav hr{
        width: 100%;
        margin: 10px auto;
       
    }
    
    
    
    .hide{
        display: none;
    }
    
    
    .show{
        display: inherit;
    }
    /* .btnDaftar {
        background-color: rgb(211, 85, 39);
    }
    
    .btnMasuk {
        background-color: coral;
    } */
}