.container {
    display: flex;
    justify-content: center;
    /* margin: 55px auto; */
    /* margin-left: 100px; */
    background-color: white;
}

.detail {
    margin: 55px auto;
    margin-left: 420px;
    
}


.detail input, .detail select {
    font-size: 15px;
    width: 400px;
    height: 35px;
    border-radius: 7px;
    border: 1px solid rgb(211, 85, 39);
    padding: 10px;
    background-color: white;
    color: black;
}

/* .detail p{
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgb(211, 85, 39);
    color:white;
    font-family: Karla;
    height: 38px;
    width: 48%;
} */

.detail button{
    font-size: 9px;
    width: 80px;
    /* height: 25px; */
    border-radius: 5px;
    border: 1px solid rgb(211, 85, 39);
    padding: 10px;
    margin: 0px 20px;
   
   
}

.detail .btnDiv {
    display: flex;
    height: 25px;
    
   
}

.btnDiv .btn {
    position: relative;
    left: 115px;
    bottom: 30px;
   

}

.detail button:hover{
    background-color:  rgb(246, 247, 184);
    color:  rgb(211, 85, 39);
    transition: 0.2s;
}

.btnDiv button{
    width: 90px;
    background-color:  rgb(211, 85, 39);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(151, 141, 137, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}


.detail p{
    font-weight: bold;
    color: black;
}

.user img{
    width: 130px;
    height:130px;
    border-radius: 70px;
    border: 3px groove rgb(211, 85, 39);
    cursor: pointer;
    margin-right: 70px;
    position: relative;
    top: 40px;
    right: 10px;
    /* box-shadow: 0px 2px 2px 0px rgb(211, 85, 39); */

}




.user p{
    /* right: 90px; */
    font-size: 30px;
    font-family: Fredoka One;
    font-weight: 400;
    line-height: 0;
    position: relative;
    right: 60px;
    /* margin: 5px 10px; */
    color: black;
   
} 
/* .user span{

} */


.detail .user p {
    margin-top: 40px;
}


.container input:disabled{
    background-color: antiquewhite;
}

.user {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
   /* justify-content: left; */
    
}


@media (max-width: 480px) {

    .container .detail {
        /* margin: 30px auto; */
        /* margin-left: 200px; */
        margin-left: 85px;
        background-color: aqua;

        
    }

    .detail{
        margin-right: 30px;
    }



    .user img{
        width: 70px;
        height:70px;
        border-radius: 70px;
        border: 3px groove rgb(211, 85, 39);
        cursor: pointer;
        margin-left: 0px;
        position: relative;
        top: 40px;
        right: 10px;
        /* box-shadow: 0px 2px 2px 0px rgb(211, 85, 39); */
    
    }
    
    .detail .user p{
        /* right: 90px; */
        font-size: 13px;
        font-family: Fredoka One;
        font-weight: 400;
        line-height: 0;
        position: relative;
        /* margin: 0px 1px; */
        color: black;
       
    } 

    .user p{
        
        margin: 0px 1px;
    }

    .detail button{
        width: 68px;
        /* height: 25px; */
        border-radius: 5px;
        border: 1px solid rgb(211, 85, 39);
        padding: 8px;
        margin: 0px 2px;
        font-size: 6.5px;
       
       
    }
    
    .detail p{
        font-size: 10px;
    }

    .detail .btnDiv {
        display: flex;
        height: 20px;
       
    }
    
    .btnDiv .btn {
        position: relative;
        left: 70px;
        bottom: 30px;
    
    }

    .detail input, .detail select {
        font-size: 10px;
        width: calc(400px / 2);
        height: 30px;
        border-radius: 7px;
        border: 1px solid rgb(211, 85, 39);
        /* padding: 10px; */
        background-color: white;
        color: black;
    }


}