.pagewhite{
    background-color: white;
    color:black
}
 


.container {
    /* display: flex; */
    /* justify-content: left; */
    margin-left: 80px;
} 


.container .left {
    /* margin-top: 30px; */
    color: rgb(81, 48, 48);
    /* width: 15%; */
}




.left a {
    /* margin-left: 250%; */
    position: absolute;
    top: 90px;
    right: 60px;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 15px;
    background-color: rgb(211, 85, 39);
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    color: white;
}

.container textarea{
    /* box-shadow: 0 1px 2px 0 rgb(11, 10, 10); */
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    width: 500px;
    height: 200px;
    padding: 20px;
    font-family: karla;
}

.container2{
    margin-top: 60px;
  
}

.container2 .iconStar img{
    width: 30px;
    margin-left: 350px;
    cursor: pointer;
}

.container2 .iconStar{
    margin-left:200px;

}

.iconStar img{
    position: absolute;
    top: 160px;
}

.container2 h2{
    font-size: 30px;
    margin-bottom: 50px;
}




.hide{
    display: none;
 
}


.show{
    display: inherit;
  

}

.container2 .rumus, .container2 .rumusguest{
    /* padding: 20px; */
    background-color: white;
    width: 500px;
    height: 200px;
    /* margin-top: 30px;
    margin-bottom: 30px; */
}

.container2 .rumus img, .container2 .rumusguest img{
    /* border: 1px solid rgb(211, 85, 39); */
    border-radius: 5px;
    /* box-shadow: 0 1px 2px 2px  rgba(211, 85, 39, 0.264); */
}

.rumusguest .imgcontoh{
    filter: blur(3px);
}

.rumusguest{
    display: flex;
}

.container2 p {
   font-size: 18px;
   font-weight: 520;
}



.rumusguest .btnSignin{
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(211, 85, 39);
  box-shadow: 0 1px 4px rgb(211, 85, 39);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 25%;
  font-family: karla;
}

/* .container .conso {
    margin-top: 20px;
} */


.conso .notesSign{
    font-size: 14px;
    font-weight: 400;

}

.btnSignin{
    position: absolute;
    top: 1000px;
    left: 340px;
    /* margin: 50px; */
}

.conso{
    margin-top: 70px;
}


.notes {
    margin-bottom: 100px;
}




@media (max-width: 480px) {

.container {
    margin-left: 40px;
    /* width: 100%; */

}

.container2 {
    margin-left: 20px;
}


.left a {
    /* margin-left: 250%; */
    position: absolute;
    top: 80px;
    right: 10px;
    cursor: pointer;
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 8px;
    background-color: rgb(211, 85, 39);
    box-shadow: 0 4px 8px 0 rgba(238, 143, 108, 0.495), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    color: white;
    
}


.container textarea{
    /* box-shadow: 0 1px 2px 0 rgb(11, 10, 10); */
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    width: calc(450px / 2);
    height: calc(200px/2);
    /* padding: 20px; */
    font-family: karla;
}



.container2 .rumus, .container2 .rumusguest {
    max-width: 80%;
  
}
.container2 .rumus img, .container2 .rumusguest img, .container2 textarea{
    width: calc(450px / 2);
    height: calc(200px /2);
    /* margin-top: 10px;
    margin-bottom: 20px; */
    
}


.container2 .rumus{
    margin-bottom: -80px;
}

.container2 textarea{
    font-size: 13px;
    color: black;
}

.rumusguest .btnSignin{
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(211, 85, 39);
    box-shadow: 0 1px 4px rgb(211, 85, 39);
    color: white;
    font-size: 10px;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    font-family: karla;
}

.container2 h2{
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 90px;
}

.container2 p {
    font-size: 12px;
}

.btnSignin{
    position: absolute;
    top: 920px;
    left: 210px;
    /* margin: 50px; */
}

.conso{
    margin-top: 20px;
}

.container2 .iconStar img{
    width: 15px;
    margin-left: 150px;
    cursor: pointer;
}

.container2 .iconStar{
    margin-left:40px;

}

.iconStar img{
    position: absolute;
    top: 140px;
}

}